@model FT1.Models.FillUp

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FillUp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Litre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Litre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odometer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odometer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFill)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FillUpId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
